<div class="footer-container">

    <p class="text-center text-white">Siguenos en:</p>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link text-white border-right  " href="#">Twiter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white border-right  " href="#">Facebook</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white border-right " href="#">Instagram</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">TikTok</a>
        </li>
    </ul>
    <p class="copyright text-center text-white">Copyright Shopeame {{year}}</p>
</div>