<div class="container bg-white" id="products-container">
    <div class="content-title row">
        <div class="col-8">
            <p><strong>Listado de Productos ({{data.length }})</strong></p>
        </div>
        <div class="col-2">
            <form [formGroup]="contactForm">

                <input placeholder="Buscador" class="form-control form-control-lg" type="text" formControlName="filter" aria-label=".form-control-lg example">

            </form>
        </div>
        <div class="col-2 text-center ">
            <div class="btn-group bg-white " role="group " aria-label="Basic example ">
                <button type="button " class="btn btn-secondary bg-white "><svg xmlns="http://www.w3.org/2000/svg " width="17 " height="14 " viewBox="0 0 17 14 " fill="none ">
                    <path id="Vector " d="M5 0V4H17V0H5ZM5 14H17V10H5V14ZM5 9H17V5H5V9ZM0 4H4V0H0V4ZM0 14H4V10H0V14ZM0 9H4V5H0V9Z " fill="#787885 "/>
                    </svg></button>
                <button type="button " class="btn btn-secondary bg-white "><i class="bi bi-grid-fill text-secondary "></i></button>

            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row text-center ">
            <app-card-product [product]='product' [index]='index' *ngFor="let product of data; let index=index "></app-card-product>
        </div>
    </div>
    <!-- <app-card-product></app-card-product> -->

</div>