.nav-container {
  background-color: #FFC970;
}

div.nav-container > ul > li > div {
  padding: 12px;
}

.picture-container {
  background-color: white;
}
/*# sourceMappingURL=header.component.css.map */