<!-- <div class="container mb-3 bg-white"> -->
<div class="container bg-white" id="product-container">
    <h3>Creación/edición de productos</h3>
    <div class="row">
        <div class="col-md-6 mb-3 border-end">
            <form [formGroup]="productForm" (ngSubmit)="submitted()">
                <!-- <label for="id" class="form-label">id</label> -->
                <input type="hidden" class="form-control mb-3" formControlName="id">

                <label for="name" class="form-label">Nombre del producto:</label>
                <input type="text" class="form-control mb-3" placeholder="Por ej: Tiesto para planta" formControlName="name">


                <label for="price" class="form-label">Precio:</label>
                <input type="number" class="form-control mb-3" placeholder="Por ej: 9.50" formControlName="price">


                <label for="description" class="form-label">Descripción:</label>
                <textarea class="form-control mb-3" placeholder="Por ej: Lo más vendido este mes" formControlName="description" rows="3"></textarea>

                <label for="image" class="form-label">Ruta de la imagen:</label>
                <input type="url" class="form-control mb-3" placeholder="Por ej: http://blabla.com/img.jpg" pattern="https://.*" size="30" required formControlName="image">

                <label for="stars" class="form-label">Opiniones:</label>
                <input type="number" class="form-control mb-3" placeholder="Por ej: 4.28" formControlName="stars">

                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <input type="submit" class="form-control mb-3 btn btn-warning " value="Guardar ">
                </div>
            </form>
        </div>
        <div class='col-md-6'>
            <app-card-product [product]='productForm.value'></app-card-product>
        </div>
    </div>
</div>