<div class="m-3">
    <div class="card" style="width: 14rem;">
        <img src="{{product.image}}" class="card-img-top" alt="{{product.description}}">
        <div class="card-body">
            <p class="card-text">{{product.name}}</p>
            <h5 class="card-title">€{{product.price}}</h5>
            <p class="card-text">{{product.description}}</p>
            <!-- <p class="card-subtitle mb-2 text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <div class="row">
                <div class="col-6 rating">{{product.stars}} </div>
                <div class="col-6 text-right"><a [routerLink]="['/product/'+product.id]" class="btn btn-light ">editar</a></div>
            </div>
        </div>
    </div>
</div>